extends ../../layouts/default.pug
block head 
  link(rel="stylesheet", href="/admin/css/Create.css") 
block sidebar
    .form-create
      h1 Create Product
      form(enctype="multipart/form-data", id="createProductForm")
        label(for="name") Product Category:
        input#name(type="text", name="name")
        label(for="parent_id") Parent Id:
        input#parent_id(type="text", name="parent_id")
        label(for="description") Description:
        textarea#description(name="description", rows="4", cols="50", placeholder="Nhập mô tả ở đây...") 
        label(for="optionSelect") Choose an option:
        select#optionSelect
          option(value="text") Text
          option(value="file") File
        label(for="image") Category Image:
        input#image(type="", name="image", accept="", required)
        img.preview(src="")
        input(type="submit", value="Create Category")
    script(type="module", src="/admin/js/products/Category.js")
    script(type="application/javascript", src="/tinymce/tinymce.min.js")
    script(type="application/javascript", src="/admin/js/tinymce-config.js")