include ../../mixins/list-product.pug
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width,initial-scale=1")
  title Grocery Mart
  //  Favicon 
  link(rel="apple-touch-icon", sizes="76x76", href="/client/home/assets/favicon/apple-touch-icon.png")
  link(rel="icon", type="image/png", sizes="32x32", href="/client/home/assets/favicon/favicon-32x32.png")
  link(rel="icon", type="image/png", sizes="16x16", href="/client/home/assets/favicon/favicon-16x16.png")
  link(rel="manifest", href="/client/home/assets/favicon/site.webmanifest")
  link(rel="stylesheet", href="./client/home/assets/css/index.css")
  meta(name="msapplication-TileColor", content="#da532c")
  meta(name="theme-color", content="#ffffff")
  //  Fonts 
  link(rel="stylesheet", href="/client/home/assets/fonts/stylesheet.css")
  //  Styles 
  link(rel="stylesheet", href="/client/home/assets/css/main.css")
  //  Scripts 
  script(src="/client/home/assets/js/scripts.js")
  //  Header 
body

  //  Header 
  include ../../layouts/header.pug
  +List(from_to,cost,Sort,Products)
  ///footer
  footer#footer.footer
  script.
    load("#footer", "/client/home/templates/footer.html");
  script(type="module", src="/client/home/assets/js/Featured_Product.js") 

    
  