include ../../../mixins/alert.pug
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width,initial-scale=1")
  title Sign in | Grocery Mart
  //  Favicon 
  link(rel="apple-touch-icon", sizes="76x76", href="/client/home/assets/favicon/apple-touch-icon.png")
  link(rel="icon", type="image/png", sizes="32x32", href="/client/home/assets/favicon/favicon-32x32.png")
  link(rel="icon", type="image/png", sizes="16x16", href="/client/home/assets/favicon/favicon-16x16.png")
  link(rel="manifest", href="/client/home/assets/favicon/site.webmanifest")
  meta(name="msapplication-TileColor", content="#da532c")
  meta(name="theme-color", content="#ffffff")
  //  Fonts 
  link(rel="stylesheet", href="/client/home/assets/fonts/stylesheet.css")
  //  Styles 
  link(rel="stylesheet", href="/client/home/assets/css/main.css")
  link(rel="stylesheet", href="/client/home/assets/css/alert.css")
  //  Scripts 
  script(src="/client/home/assets/js/scripts.js")
body
  +alertError(3000)
  +alertSuccess(3000)
  main.auth
    //  Auth intro 
    .auth__intro.d-md-none
      img.auth__intro-img(src="/client/home/assets/img/auth/intro.svg", alt)
      p.auth__intro-text.
        
        The best of luxury brand values, high quality products, and innovative services
        
    //  Auth content 
    .auth__content
      .auth__content-inner
        a.logo(href="./")
          img.logo__img(src="/client/home/assets/icons/logo.svg", alt="grocerymart")
          h2.logo__title grocerymart
        h1.auth__heading Hello Again!
        p.auth__desc.
          
          Welcome back to sign in. As a returning customer, you have access to your previously saved all information.
          
        form.form.auth__form(id="submit")
          .form__group
            .form__text-input
              input.form__input(id="email" type="email", name, placeholder="Email", autofocus, required)
              img.form__input-icon(src="/client/home/assets/icons/message.svg", alt)
              img.form__input-icon-error(src="/client/home/assets/icons/form-error.svg", alt)
            p.form__error Email is not in correct format
          .form__group
            .form__text-input
              input.form__input(id="password" type="password", name, placeholder="Password", required, minlength="6")
              img.form__input-icon(src="/client/home/assets/icons/lock.svg", alt)
              img.form__input-icon-error(src="/client/home/assets/icons/form-error.svg", alt)
            p.form__error Password must be at least 6 characters
          .form__group.form__group--inline
            a.auth__link.form__pull-right(href="/user/forgot-password") Forgot password?
          .form__group.auth__btn-group
            button.btn.btn--primary.auth__btn.form__submit-btn Sign In

        p.auth__text
          | Don’t have an account yet?

          a.auth__link.auth__text-link(href="/user/register") Sign Up
  script.
    
    window.dispatchEvent(new Event("template-loaded"));
  script(type="module", src="/client/home/assets/js/Login.js")
  script(type="module", src="/client/home/assets/js/alert.js")    