include ../../../mixins/alert.pug
meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Reset your password | Grocery Mart
//  Favicon 
link(rel="apple-touch-icon", sizes="76x76", href="/client/home/assets/favicon/apple-touch-icon.png")
link(rel="icon", type="image/png", sizes="32x32", href="/client/home/assets/favicon/favicon-32x32.png")
link(rel="icon", type="image/png", sizes="16x16", href="/client/home/assets/favicon/favicon-16x16.png")
link(rel="manifest", href="/client/home/assets/favicon/site.webmanifest")
meta(name="msapplication-TileColor", content="#da532c")
meta(name="theme-color", content="#ffffff")
//  Fonts 
link(rel="stylesheet", href="/client/home/assets/fonts/stylesheet.css")
//  Styles 
link(rel="stylesheet", href="/client/home/assets/css/main.css")
//  Scripts 
script(src="/client/home/assets/js/scripts.js")
body
  +alertError(3000)
  main.auth
    //  Auth intro 
    .auth__intro.d-md-none
      img.auth__intro-img(src="/client/home/assets/img/auth/forgot-password.png", alt)
    //  Auth content 
    .auth__content
      .auth__content-inner
        a.logo(href="./")
          img.logo__img(src="/client/home/assets/icons/logo.svg", alt="grocerymart")
          h2.logo__title grocerymart
        h1.auth__heading Reset your password
        p.auth__desc Enter your email and we'll send you a link to reset your password.
        .auth__message.message.message--success We have e-mailed your password reset link!
        form.form.auth__form.auth__form-forgot(method="POST")
          .form__group
            .form__text-input
              input.form__input(readonly,value= email, type="email", name="email", placeholder="Email", required)
              img.form__input-icon(src="/client/home/assets/icons/message.svg", alt)
              img.form__input-icon-error(src="/client/home/assets/icons/form-error.svg", alt)
          .form__group
            .form__text-input  
              input.form__input(type="text", name="otp", placeholder="OTP", required)
            p.form__error Email is not in correct format
          .form__group.auth__btn-group
            button.btn.btn--primary.auth__btn.form__submit-btn Reset password
        p.auth__text
          a.auth__link.auth__text-link(href="/user/login") Back to Sign In
  script.
    
    window.dispatchEvent(new Event("template-loaded"));
    