body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}
.container {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
  color: #333;
}
form {
  display: flex;
  flex-direction: column;
}
label {
  margin-top: 10px;
  font-weight: bold;
}
input {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 16px;
}
input[type="submit"]:hover {
  background-color: #45a049;
}
.preview {
  width: 150px;
  height: auto;
  margin-top: 15px;
  border: 1px solid white;
  padding: 15px;
  border-radius: 5px;
}
.form-edit {
  margin-right: 15px;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  width: calc(100% - 300px);
  min-height: 100%;
  float: right;
  transition: all 0.3s;
  margin-bottom: 20px;
  margin-top: 100px;
  box-sizing: border-box;
}
.main-panel{
  height: 0 !important;
  min-height: 0 !important;
}