include ../mixins/sub-menu.pug
head 
  link(rel="stylesheet", href="/client/home/assets/css/home.css")
.container
  .top-bar
    //  More 
    button.top-bar__more.d-none.d-lg-block.js-toggle(toggle-target="#navbar")
      img.icon.top-bar__more-icon(src="/client/home/assets/icons/more.svg", alt)
    //  Logo 
    a.logo.top-bar__logo(href="./")
      img.logo__img.top-bar__logo-img(src="/client/home/assets/icons/logo.svg", alt="grocerymart")
      h1.logo__title.top-bar__logo-title grocerymart
    //  Navbar 
    nav#navbar.navbar.hide
      button.navbar__close-btn.js-toggle(toggle-target="#navbar")
        img.icon(src="/client/home/assets/icons/arrow-left.svg", alt)
      a.nav-btn.d-none.d-md-flex(href="./checkout.html")
        img.nav-btn__icon.icon(src="/client/home/assets/icons/buy.svg", alt)
        span.nav-btn__title Cart
        span.nav-btn__qnt 3
      a.nav-btn.d-none.d-md-flex(href="#!")
        img.nav-btn__icon.icon(src="/client/home/assets/icons/heart.svg", alt)
        span.nav-btn__title Favorite
        span.nav-btn__qnt 3
      ul.navbar__list.js-dropdown-list
        li.navbar__item
          a(href="/home") Trang Chủ
        li(class="").nav-menu
          .menu-item.brand.has-submenu
            - const path = "/product"
            a(href=path) Sản phẩm
            +sub-menu(newCategory, path)
    .navbar__overlay.js-toggle(toggle-target="#navbar")
    //  Actions 
    .top-act
      a.btn.btn--text.d-md-none(href="./sign-in.html") Sign In
      a.top-act__sign-up.btn.btn--primary(href="./sign-up.html") Sign Up