include ../mixins/sub-menu.pug
.container
  .top-bar
    //  More 
    button.top-bar__more.d-none.d-lg-block.js-toggle(toggle-target="#navbar")
      img.icon.top-bar__more-icon(src="/client/home/assets/icons/more.svg", alt)
    //  Logo 
    a.logo.top-bar__logo(href="/home")
      img.logo__img.top-bar__logo-img.logo(src=setting.logo, alt="TUTA")
      h1.logo__title.top-bar__logo-title #{setting.websiteName}
    //  Navbar 
    nav#navbar.navbar.hide
      button.navbar__close-btn.js-toggle(toggle-target="#navbar")
        img.icon(src="/client/home/assets/icons/arrow-left.svg", alt)
      a.nav-btn.d-none.d-md-flex(href="./checkout.html")
        img.nav-btn__icon.icon(src="/client/home/assets/icons/buy.svg", alt)
        span.nav-btn__title Cart
        span.nav-btn__qnt 3
      a.nav-btn.d-none.d-md-flex(href="#!")
        img.nav-btn__icon.icon(src="/client/home/assets/icons/heart.svg", alt)
        span.nav-btn__title Favorite
        span.nav-btn__qnt 3
      ul.navbar__list.js-dropdown-list
        li.navbar__item
          a(href="/home") Trang Chủ
        li(class="").nav-menu
          .menu-item.brand.has-submenu
            - const path = "/product"
            a(href=path) Sản phẩm
            +sub-menu(newCategory, path)
    .col-3(style="margin-left:10px") 
      form(action="/search" style="position:relative",method="GET" class="search_form")
        div(class="form-group d-flex mb-0")
          input(type="text" class="form-control search_input"  name="keyword" placeholder="Nhập từ khóa...")
          button(type="submit" class=" btn btn-primary") Tìm
    .navbar__overlay.js-toggle(toggle-target="#navbar")
    //  Actions 
    .top-act
      a.btn.btn--text.d-md-none(href="/user/login") Sign In
      a.top-act__sign-up.btn.btn--primary(href="/user/register") Sign Up
      a(href="/cart", aria-label="Giỏ hàng" style="position: relative;").fa-solid.fa-cart-shopping
        .count(aria-hidden="true") #{miniCart > 0 ? miniCart  : 0}

    