.container
  .top-bar
    //  More 
    button.top-bar__more.d-none.d-lg-block.js-toggle(toggle-target="#navbar")
      img.icon.top-bar__more-icon(src="/client/home/assets/icons/more.svg", alt)
    //  Logo 
    a.logo.top-bar__logo(href="./")
      img.logo__img.top-bar__logo-img(src="/client/home/assets/icons/logo.svg", alt="grocerymart")
      h1.logo__title.top-bar__logo-title grocerymart
    //  Navbar 
    nav#navbar.navbar.hide
      button.navbar__close-btn.js-toggle(toggle-target="#navbar")
        img.icon(src="/client/home/assets/icons/arrow-left.svg", alt)
      a.nav-btn.d-none.d-md-flex(href="./checkout.html")
        img.nav-btn__icon.icon(src="/client/home/assets/icons/buy.svg", alt)
        span.nav-btn__title Cart
        span.nav-btn__qnt 3
      a.nav-btn.d-none.d-md-flex(href="#!")
        img.nav-btn__icon.icon(src="/client/home/assets/icons/heart.svg", alt)
        span.nav-btn__title Favorite
        span.nav-btn__qnt 3
      ul.navbar__list.js-dropdown-list
                                        
        li.navbar__item
          a.navbar__link(href="#!")
            | Grocery

            img.icon.navbar__arrow(src="./assets/icons/arrow-down.svg", alt)
          .dropdown.js-dropdown
            .dropdown__inner
              .top-menu
                .sub-menu.sub-menu--not-main
                  .sub-menu__column
                    //  Menu column 1 
                    .menu-column
                      .menu-column__icon
                        img.menu-column__icon-1(src="./assets/img/category/cate-7.1.svg", alt)
                        img.menu-column__icon-2(src="./assets/img/category/cate-7.2.svg", alt)
                      .menu-column__content
                        h2.menu-column__heading
                          a(href="#!") Grocery
                        ul.menu-column__list
                          li.menu-column__item
                            a.menu-column__link(href="#!") Shop All
                          li.menu-column__item
                            a.menu-column__link(href="#!") Grilling Foods
                          li.menu-column__item
                            a.menu-column__link(href="#!") Spring Flavors
                    //  Menu column 2 
                    .menu-column
                      .menu-column__icon
                        img.menu-column__icon-1(src="./assets/img/category/cate-8.1.svg", alt)
                        img.menu-column__icon-2(src="./assets/img/category/cate-8.2.svg", alt)
                      .menu-column__content
                        h2.menu-column__heading
                          a(href="#!") Fresh Produce
                        ul.menu-column__list
                          li.menu-column__item
                            a.menu-column__link(href="#!") Shop All
                          li.menu-column__item
                            a.menu-column__link(href="#!") Celebrate Salad Month
                          li.menu-column__item
                            a.menu-column__link(href="#!") Healthy Living
                          li.menu-column__item
                            a.menu-column__link(href="#!") Fresh Flowers
                          li.menu-column__item
                            a.menu-column__link(href="#!") Chilled Dressing
                          li.menu-column__item
                            a.menu-column__link(href="#!") Fresh Fruit
                          li.menu-column__item
                            a.menu-column__link(href="#!") Salad Kits & Bowls
                          li.menu-column__item
                            a.menu-column__link(href="#!") Organic Produce
                          li.menu-column__item
                            a.menu-column__link(href="#!") Fresh Vegetables
                  .sub-menu__column
                    //  Menu column 1 
                    .menu-column
                      .menu-column__icon
                        img.menu-column__icon-1(src="./assets/img/category/cate-9.1.svg", alt)
                        img.menu-column__icon-2(src="./assets/img/category/cate-9.2.svg", alt)
                      .menu-column__content
                        h2.menu-column__heading
                          a(href="#!") Bakery & Bread
                        ul.menu-column__list
                          li.menu-column__item
                            a.menu-column__link(href="#!") Shop All
                          li.menu-column__item
                            a.menu-column__link(href="#!") New in Bakery
                          li.menu-column__item
                            a.menu-column__link(href="#!") Sliced Bread
                          li.menu-column__item
                            a.menu-column__link(href="#!") Rolls & Buns
                          li.menu-column__item
                            a.menu-column__link(href="#!") Tortillas
                          li.menu-column__item
                            a.menu-column__link(href="#!") Breakfast Breads
                          li.menu-column__item
                            a.menu-column__link(href="#!") Pies
                          li.menu-column__item
                            a.menu-column__link(href="#!") Cookies & Brownies
                    //  Menu column 2 
                    .menu-column
                      .menu-column__icon
                        img.menu-column__icon-1(src="./assets/img/category/cate-10.1.svg", alt)
                        img.menu-column__icon-2(src="./assets/img/category/cate-10.2.svg", alt)
                      .menu-column__content
                        h2.menu-column__heading
                          a(href="#!") Frozen
                        ul.menu-column__list
                          li.menu-column__item
                            a.menu-column__link(href="#!") Frozen Breakfast
                          li.menu-column__item
                            a.menu-column__link(href="#!") Frozen Potatoes
                          li.menu-column__item
                            a.menu-column__link(href="#!") Frozen Meals & Snacks
                  .sub-menu__column
                    //  Menu column 1 
                    .menu-column
                      .menu-column__icon
                        img.menu-column__icon-1(src="./assets/img/category/cate-11.1.svg", alt)
                        img.menu-column__icon-2(src="./assets/img/category/cate-11.2.svg", alt)
                      .menu-column__content
                        h2.menu-column__heading
                          a(href="#!") Snacks
                        ul.menu-column__list
                          li.menu-column__item
                            a.menu-column__link(href="#!") Shop All
                          li.menu-column__item
                            a.menu-column__link(href="#!") Chips
                          li.menu-column__item
                            a.menu-column__link(href="#!") Popcorn & Pretzels
                          li.menu-column__item
                            a.menu-column__link(href="#!") Crackers
                          li.menu-column__item
                            a.menu-column__link(href="#!") Salsa & Dips
                    //  Menu column 2 
                    .menu-column
                      .menu-column__icon
                        img.menu-column__icon-1(src="./assets/img/category/cate-12.1.svg", alt)
                        img.menu-column__icon-2(src="./assets/img/category/cate-12.2.svg", alt)
                      .menu-column__content
                        h2.menu-column__heading
                          a(href="#!") Candy
                        ul.menu-column__list
                          li.menu-column__item
                            a.menu-column__link(href="#!") Shop All
                          li.menu-column__item
                            a.menu-column__link(href="#!") Better for You
                          li.menu-column__item
                            a.menu-column__link(href="#!") Chocolate
                          li.menu-column__item
                            a.menu-column__link(href="#!") Sugar Free Candy
                          li.menu-column__item
                            a.menu-column__link(href="#!") Gum
                          li.menu-column__item
                            a.menu-column__link(href="#!") Mints
                          li.menu-column__item
                            a.menu-column__link(href="#!") On-the-Go
                  .sub-menu__column
                    //  Menu column 1 
                    .menu-column
                      .menu-column__icon
                        img.menu-column__icon-1(src="./assets/img/category/cate-13.1.svg", alt)
                        img.menu-column__icon-2(src="./assets/img/category/cate-13.2.svg", alt)
                      .menu-column__content
                        h2.menu-column__heading
                          a(href="#!") Cocktails & Mixes Coffee
                        ul.menu-column__list
                          li.menu-column__item
                            a.menu-column__link(href="#!") Ground Coffee
                          li.menu-column__item
                            a.menu-column__link(href="#!") Whole Bean Coffee
                          li.menu-column__item
                            a.menu-column__link(href="#!") Coffee Pods
                          li.menu-column__item
                            a.menu-column__link(href="#!") Instant Coffee
                    //  Menu column 2 
                    .menu-column
                      .menu-column__icon
                        img.menu-column__icon-1(src="./assets/img/category/cate-14.1.svg", alt)
                        img.menu-column__icon-2(src="./assets/img/category/cate-14.2.svg", alt)
                      .menu-column__content
                        h2.menu-column__heading
                          a(href="#!") Beverages
                        ul.menu-column__list
                          li.menu-column__item
                            a.menu-column__link(href="#!") Shop All
                          li.menu-column__item
                            a.menu-column__link(href="#!") Water
                          li.menu-column__item
                            a.menu-column__link(href="#!") Soft Drinks
                          li.menu-column__item
                            a.menu-column__link(href="#!") Fruit Juice
                          li.menu-column__item
                            a.menu-column__link(href="#!") Sports Drinks
                          li.menu-column__item
                            a.menu-column__link(href="#!") Energy Drinks
                          li.menu-column__item
                            a.menu-column__link(href="#!") Tea
                          li.menu-column__item
                            a.menu-column__link(href="#!") Hot Chocolate & Cocoa
    .navbar__overlay.js-toggle(toggle-target="#navbar")
    //  Actions 
    .top-act
      a.btn.btn--text.d-md-none(href="./sign-in.html") Sign In
      a.top-act__sign-up.btn.btn--primary(href="./sign-up.html") Sign Up