//- extends ../../layouts/default.pug
//- block head 
link(rel="stylesheet", href="/admin/css/roles/permissions.css") 
meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Admin Chat Interface
link(rel="stylesheet", href="/admin/css/chats/index.css")
//- block sidebar
//- block content
body
  .chat-container
    .chat-header
      .user-info
        img.avatar.circle(src=customer.img alt="Avatar")
        div
          h2 #{customer.name}
          .user-status Đang hoạt động
    .chat-messages(my-id="")
      .message.sent 
        .message-content Xin chào! Tôi có thể giúp gì cho bạn?
      each chat in chats
        .message(class=(customer._id == chat.user_id ? "received" : "sent"))
          .message-content.
          
            #{chat.content}
      .list-typing
    form.form(action="" class="form-submit").chat-input
      .input-wrapper
        input.content(type="text", placeholder="Nhập tin nhắn của bạn...")
        button(type="submit") ➤
  script(src="/socket.io/socket.io.js")
  script(src="/client/home/assets/js/Socket.js")
  script(type="module", src="/admin/js/chats/index.js") 